USE [master]
GO
/****** Object:  Database [Multicode]    Script Date: 1/5/2022 5:19:14 AM ******/
CREATE DATABASE [Multicode]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Multicode', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Multicode.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Multicode_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Multicode_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Multicode].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Multicode]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 1/5/2022 5:19:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
	[FolderPath] [nvarchar](255) NOT NULL,
	[SecretNumber] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ClosedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
